@charset "utf-8";

.add_process {
  button {
    color: #fff;
    background-color: #2bb632;
    //border-color: #357ebd;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
  }
}

.add_icon {
  position: relative;
  top: 2px;
  right: 4px;
}
